[submodule "thirdparty/nnUNet"]
	path = thirdparty/nnUNet
	url = https://github.com/MIC-DKFZ/nnUNet.git
[submodule "thirdparty/voxelmorph"]
	path = thirdparty/voxelmorph
	url = https://github.com/voxelmorph/voxelmorph.git
